@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  .sosMainBox {
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  .sos_box {
    border: 1px solid #928a8a;
    border-radius: 16px;
    padding: 10px 20px;
    margin: 15px 0;
  }
}
